body {
	font-family: 'Probot', sans-serif;
}

.nav-link{
	color : red!important;
	font-weight: bold;
	font-size: 	15px;
	line-height: 18px;
}
.navbar button{
	background: white;
	color: black;
}
.navbar {
	height: 90px;
	background-color: black;
}
.navbar .li {
	padding-right: 25px;
}

.h1{
	font-weight: 900;
	font-size: 44px;
	line-height: 158.34%;
}
.jumbotron h1{
	color: black;
}

.jumbotron{
	background-image: 	url('../public/img/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 705px;	
	color : bold;
}

.jumbotron .btn{
	border-radius: 100px;
	height: 56px;
	width: 160px;
	background: #FFF7DF;
	border-color: #FFF7DF;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: purple;

}